.about-me{
    @extend %section;

    .about-nav{
        padding: 20px 0;
        align-items: center;
        text-align: center;
        @include box;
        border-radius: 15px;
        border: none;
        text-transform: uppercase;
        li{
            width: 50%;

            a{
                font-size: 0.85rem;
                color: $secondheadColor;
                border-radius: 8px;
                text-decoration: none;
            }
            a:hover{
                border: none;
            }
            a.active{
                @include box;
                padding: 20px;
                margin: 0 20px;
                border: none;
                border-radius: 8px;
                transition: all 0.5s ease;
                color: $primeColor;
            }


        }

    }.mysecondary, .myhsecondary, .mysecondary, .internship, .self-tell{
    
        padding: 50px;
        margin: 50px 0;
        @include box;
        border-radius: 15px;

        h3{
            color: $headColor;
        }
        .myschl{
            color: $textColor;
            padding: 10px 0;
        }
        p{
            @include line;
            -webkit-line-clamp: 3;

        }
    
        .date{
            margin-bottom: 20px;    
            border-radius: 10px;
        }
    }


}