.contact{
    @extend %section;


    .location{
        padding: 30px;
        @include box; 
        border-radius: 15px;      
        margin-bottom: 30px;
        
        iframe{
            width: 100%;
            height: 340px;
        }
    }
    .connect-me{
        padding:  30px;
        @include box;
        border-radius: 15px;
        margin-bottom: 30px;
        h3{
            color: $headColor;
        }
        p{
            @include line;
            -webkit-line-clamp: 3;
        }
        .phone, .email{
            padding: 15px 0;

            span{
                text-transform: uppercase;
                color: $headColor;
                font-size: 0.85rem;

            }
            .my-email{
                text-transform: lowercase;
            }

        }
    }

}