.header-section{
    @extend %section;
    padding-top: 0;
    .myintro{
      
        padding: 30px 0;

        .head-name{
            display: inline-flex;
            align-items: center;
            h1{
                color: $headColor;
                padding-top: 25px ;

            } 

            ul{
                margin: 0;
                margin-left: 5px; 
                height: 90px; 
                line-height: 95px;
                overflow: hidden;

                li{
                    margin: 0;
                    list-style-type: none;
                    font-weight: 500;
                    position: relative;
                    top: 0;
                    animation: slideUp 3s steps(2) infinite ;
                    span{
                        position: relative
                    }
                    span:before{
                        content: "";
                        position: absolute;
                        left: 0;
                        top: 0; 
                        width: 100%;
                        height: 100%; 
                        background-color: $mainbgColor;  
                        border-left: 2px solid $primeColor;
                        animation: type 1.5s steps(12) infinite ;
                    }
 

                }

                li:nth-child(1){
                    margin-top: 5px;
                }
                li:nth-child(2){
                    margin-top: -5px;
                }
            }
            @keyframes type {
                100%{
                    left: 100%;
                    margin: 0 -35px 0 35px;
                }

            }
            @keyframes slideUp {
                100%{
                    top: -180px;

                }
        
            }
        }


    }

    .resume{
        padding: 50px;
        background-color: $bgColor;
        box-shadow: $shadow;
        border-radius: 15px;

        .cert-btn{
            display: none;
        }

    }
    .image{
        position: relative;
        z-index: 0;
        margin: 0 30px;
        margin-bottom: 30px;
        img{
            width: 100%;
            height: 700px;
            object-fit: contain;
        }

    }
    .image::before{
        content: "";
        position: absolute;
        bottom: 0; 
        background-color: $mainbgColor;
        box-shadow: $shadow;
        width: 100%;
        height: 500px;
        z-index: -1;
    }


}
