@media only screen and (min-width: 1680px) {

    %mainBtn{
        padding: 25px 30px;
        font-size: 0.75rem;
        background-color: $bgColor;
        box-shadow: $shadow;
        text-transform: uppercase;
        cursor: pointer;

    }  

  
    /*
    a{
        text-decoration: none;
    }
    ul{
        list-style-type: none;
    }
    .main-head{
        font-size: 2.5rem;
        font-weight: 700;
        font-family: $secondaryFont;
        padding-bottom: 10px;
        color: $textColor;

    }
    .secondary-head{
        font-size: 1.5rem;
        font-weight: 500;
        font-family: $secondaryFont;
        padding-bottom: 10px;
        color: $textColor;
        line-height: 1.5;
    }
    .small-head{
        font-size: 1.2rem;
        font-weight: 500;
        font-family: $secondaryFont;
        padding-bottom: 10px;
        color: $textColor;
        line-height: 1.5;
        
    }
    .flex-content{
        display: flex;
        flex-wrap: wrap;
    }

    .para{
        font-size: 0.75rem;
        font-weight: 400;
        color: $secondheadColor; 
        padding-bottom: 10px;
        line-height: 1.5;
    }
    .title{
        font-size: 0.75rem;
        color: $primeColor;
        font-weight: 300;
        text-transform: uppercase;
        padding-bottom: 10px; 
        letter-spacing: 1px;
    }
    .dif-title{
        font-size: 0.75rem;
        color: $secondheadColor;
        font-weight: 400;
        text-transform: uppercase; 
        padding-bottom: 10px;


    }
    .max-width{
        max-width: 1366px;
        position: relative;
    }
    .max-width::before{
        content: "";
        margin-top: 30px;
        position: absolute;
        left: 0;    
        bottom: -60px;
        width: 100%;
        height: 5px;
        background-color: $bgColor;
    }

    .design-border{
        border-bottom: 3px solid $bgColor;
    }
    .slick-dots{
        display: flex;
        flex-wrap: wrap;
        @extend %flexCenter;

        li{
            height: 12px;
            width: 12px;
            display: flex;
            flex-wrap: wrap;
            @extend %flexCenter;
            border-radius: 50%;
            margin-right: 20px; 
            button{ 
                z-index: 0;
                box-shadow: $inner-shadow;
                width: 100%;    
                background-color: $mainbgColor;
                height: 100%;
                font-size: 0; 
                border: none;   
                border-radius: 50%;
                outline: none;
                cursor: pointer;
            }


        }

        .slick-active{
            background-color: $primeColor;  
        }
    } 
    .fixed-btn{
        position: fixed;
        bottom: 20px;
        right: 20px;
        background-color: $bgColor;
        box-shadow: $shadow;
        width: 75px;
        height: 75px;
        display: flex;
        @extend %flexCenter;
        border-radius: 5px;
        z-index: 100;
        transition: all 0.4s linear;
        a{
            color: $headColor
        }

    }
    .fixed-btn:hover{
        box-shadow: $shadow-2;

    }
    */
    @mixin section {
        padding-bottom: 50px;
    }
    html,body{
        font-size: 24px;
    }
   
    .main-head{
        font-size: 2.5rem;

    }
    .secondary-head{
        font-size: 1.5rem;
    }
    .small-head{
        font-size: 1.2rem;
    }
   
    .para{
        font-size: 0.85rem;
    }
    .title{
        font-size: 0.85rem;
    }
     
    .see-btn{
        padding: 12px 20px;
    }
 
   



}
@media only screen and (min-width: 1200px) and (max-width:1680px) {

    %mainBtn{
        padding: 25px 30px;
        font-size: 0.85rem;
        background-color: $bgColor;
        box-shadow: $shadow;
        text-transform: uppercase;
        cursor: pointer;

    }  

  
    /*
    a{
        text-decoration: none;
    }
    ul{
        list-style-type: none;
    }
    .main-head{
        font-size: 2.5rem;
        font-weight: 700;
        font-family: $secondaryFont;
        padding-bottom: 10px;
        color: $textColor;

    }
    .secondary-head{
        font-size: 1.5rem;
        font-weight: 500;
        font-family: $secondaryFont;
        padding-bottom: 10px;
        color: $textColor;
        line-height: 1.5;
    }
    .small-head{
        font-size: 1.2rem;
        font-weight: 500;
        font-family: $secondaryFont;
        padding-bottom: 10px;
        color: $textColor;
        line-height: 1.5;
        
    }
    .flex-content{
        display: flex;
        flex-wrap: wrap;
    }

    .para{
        font-size: 0.75rem;
        font-weight: 400;
        color: $secondheadColor; 
        padding-bottom: 10px;
        line-height: 1.5;
    }
    .title{
        font-size: 0.75rem;
        color: $primeColor;
        font-weight: 300;
        text-transform: uppercase;
        padding-bottom: 10px; 
        letter-spacing: 1px;
    }
    .dif-title{
        font-size: 0.75rem;
        color: $secondheadColor;
        font-weight: 400;
        text-transform: uppercase; 
        padding-bottom: 10px;


    }
    .max-width{
        max-width: 1366px;
        position: relative;
    }
    .max-width::before{
        content: "";
        margin-top: 30px;
        position: absolute;
        left: 0;    
        bottom: -60px;
        width: 100%;
        height: 5px;
        background-color: $bgColor;
    }

    .design-border{
        border-bottom: 3px solid $bgColor;
    }
    .slick-dots{
        display: flex;
        flex-wrap: wrap;
        @extend %flexCenter;

        li{
            height: 12px;
            width: 12px;
            display: flex;
            flex-wrap: wrap;
            @extend %flexCenter;
            border-radius: 50%;
            margin-right: 20px; 
            button{ 
                z-index: 0;
                box-shadow: $inner-shadow;
                width: 100%;    
                background-color: $mainbgColor;
                height: 100%;
                font-size: 0; 
                border: none;  
                border-radius: 50%;
                outline: none;
                cursor: pointer;
            }


        }

        .slick-active{
            background-color: $primeColor;  
        }
    } 
    .fixed-btn{
        position: fixed;
        bottom: 20px;
        right: 20px;
        background-color: $bgColor;
        box-shadow: $shadow;
        width: 75px;
        height: 75px;
        display: flex;
        @extend %flexCenter;
        border-radius: 5px;
        z-index: 100;
        transition: all 0.4s linear;
        a{
            color: $headColor
        }

    }
    .fixed-btn:hover{
        box-shadow: $shadow-2;

    }
    */
    @mixin section {
        padding-bottom: 50px;
    }
    html,body{
        font-size: 20px;
    }
   
    .main-head{
        font-size: 3rem;

    }
    .secondary-head{
        font-size: 1.5rem;
    }
    .small-head{
        font-size: 1.2rem;
    }
   
    .para{
        font-size: 0.95rem;
    }
    .title{
        font-size: 0.95rem;
    }
     
    .see-btn{
        padding: 12px 20px;
    }
    
/*===============nav-section===============*/
/*===============header-section===============*/
.header-section{
        
    .image{

        img{
            height: 650px;
        }
    }


}
/*====--------myskill-section-----------=======*/
.about-me{
    
    .mysecondary, .myhsecondary, .mysecondary, .internship, .self-tell{
        padding: 30px;

    

    }
}
/*========--------projects-section-----------===*/

/*===============about-section===============*/
/*===============contact-section===============*/
/*===============footer-section===============*/
/*==============media-section===============*/


} 
@media only screen and (max-width: 1200px){


/*===============nav-section===============*/
/*===============header-section===============*/
.header-section{
        
    .image{

        img{
            height: 580px;
        }
    }


}
/*====--------myskill-section-----------=======*/
.about-me{

    .mysecondary, .myhsecondary, .mysecondary, .internship, .self-tell{
        padding: 30px;

    

    }
}
/*========--------projects-section-----------===*/
/*===============about-section===============*/
/*===============contact-section===============*/
.contact{

    .connect-me{
        padding: 40px;
    }
}
/*===============footer-section===============*/
/*==============media-section===============*/


} 
@media only screen and (max-width: 991px){
.content-head{
    text-align: center;
}

/*===============nav-section===============*/
/*===============header-section===============*/
.header-section{
        
    .myintro{
        padding-top: 50px;
    }

    .resume{
        .cert-btn{
            display: inline-block;
        }


    }

    .image{

        img{
            height: 600px;
        }
    }


}
/*====--------myskill-section-----------=======*/
.about-me{

    .about-nav {

        li{

            a{
                font-size: 1rem;
            }
        }
    }

    .mysecondary, .myhsecondary, .mysecondary, .internship, .self-tell{
        margin: 50px 0 0 0;  
    }
}

/*========--------projects-section-----------===*/
.my-project{

    .my-demo{

        .btn-box{
            text-align: center;
        }

    }

}
/*===============about-section===============*/
/*===============contact-section===============*/
.contact{

    .location{
        margin-bottom: 40px;
    }
    .connect-me{

        .phone, .email{

            span{
                font-size: 1rem;
            }
        }

    }
}
/*===============footer-section===============*/
/*==============media-section===============*/


} 
@media only screen and (max-width: 768px){


/*===============nav-section===============*/
.navigation{
    padding: 5px 0;
    .logo{  

        img{
            width: 150px;
            height: 55px;
        }
    }

}
/*===============header-section===============*/
.header-section{
        
    
    .resume{
        padding: 30px;
       


    } 


    .image{

        img{
            height: 580px;
        }
    }


}
/*====--------myskill-section-----------=======*/
/*========--------projects-section-----------===*/

/*===============about-section===============*/
/*===============contact-section===============*/
.contact{

    .connect-me{
        padding: 40px;
    }
}
/*===============footer-section===============*/
/*==============media-section===============*/


} 
@media only screen and (max-width: 576px){
%mainBtn{
    padding: 18px 20px;

}
@mixin section{
    padding: 30px;
}
.main-head{

    font-size: 2.5rem;
}
.social-icon{

    li{

        .icon{
            width: 60px;
            height: 60px;
        }
    }

}

/*===============nav-section===============*/
.navigation{

   
    .nav-btn{
        height: 55px;
        width: 55px;
    }

}
/*===============header-section===============*/
.header-section{
        
    .resume{

        .cert-btn{
            margin-top: 30px;
        }
    }

    .image{
        padding-top: 30px;
        img{
            height: 450px;
        }


    }
    .image::before{
        height: 350px;
    }


}
/*====--------myskill-section-----------=======*/
.myskill{

    .skill{
        margin-bottom: 30px;

        h3{
            padding-top: 0;
        }

        svg{
            width: 60px;
            height: 60px;
        }

    }
}
/*========--------projects-section-----------===*/
.my-project{

    .my-demo{
        margin-bottom: 30px;
    }

}
/*===============about-section===============*/
.about-me{

    .about-nav{

        li{
            width: 100%;
            margin-bottom: 15px;
        }

    }

    .mysecondary, .myhsecondary, .mysecondary, .internship, .self-tell{
        padding: 20px 15px;
        margin: 0 -15px;
        margin-top: 30px;
        
        p{
            -webkit-line-clamp: 2;
        }

    
    }

}
/*===============contact-section===============*/
.contact{

    .location{

        iframe{
            height: 280px;
        }
    }


    .connect-me{
        padding: 25px;

        .phone, .email{
            padding: 10px 0;
            padding-top: 0;
        }

    }
}
/*===============footer-section===============*/
.footer{
    padding-bottom: 30px;
}
/*==============media-section===============*/


} 
@media only screen and (max-width: 480px){
%section {
    padding-bottom: 30px;
}
%mainBtn{
    padding: 12px 15px;
    font-size: 0.80rem;
}
.main-head{
    font-size: 2rem;
}
.see-btn{

    padding: 5px;


}
.content-head{
    padding: 10px  0;
 
}
.para{
    font-size: 0.95rem;
}
.title{
    font-size: 0.95rem;
}
/*===============nav-section===============*/
.navigation{

    .logo{  

        img{
            width: 120px;
            height: 50px;
        }
    }
   

}
/*===============header-section===============*/
.header-section{
        
    .image{
        margin: 0;
        padding: 0;
        img{
            height: 400px;
        }
    }

    .image::before{
        height: 300px; 
    }
    .resume{

    }
    .myintro{
        padding: 20px 0;

        h1{
            padding: 10px 0 0 0;
        }

    }
}
/*====--------myskill-section-----------=======*/
.about-me{ 
    .about-nav{
        li{
           a{
            font-size: 0.80rem;
           }
        }
    }
}
/*========--------projects-section-----------===*/
.my-project{

    .my-demo{
        padding: 20px;
        .layout{
            height: 200px;
        }
    }

}
/*===============about-section===============*/
/*===============contact-section===============*/
.contact{

    .location{
        margin-bottom: 30px;
        iframe{
            height: 200px;
        }

    }

    .connect-me{
        padding: 15px;

        

    }
}
/*===============footer-section===============*/
/*==============media-section===============*/


} 
@media only screen and (max-width: 380px){
%section{
    padding-bottom: 20px;

}
%mainBtn{
    font-size: 0.75rem;
}
.main-head{
    font-size: 1.5rem;

}
.secondary-head{
    font-size: 1.2rem;

}
.small-head{
    font-size: 1rem;

}

/*===============nav-section===============*/
.navigation{
    .logo{
        img{
            width: 100px;
            height: 45px;
        }
    }
    .nav-btn{
        height: 50px;
        width: 50px;
    }

}
/*===============header-section===============*/
.header-section{
        
    .image{

        img{
        }
    }
    .myintro{

        h1{
            font-size: 2rem;
        }

    }

}
/*====--------myskill-section-----------=======*/
.my-project{

    .my-demo{

        .layout{
            height: 180px;
        }
    }
}
/*========--------projects-section-----------===*/
/*===============about-section===============*/
/*===============contact-section===============*/
.contact{

    .location{

        iframe{
            height: 180px;
        }
    }
    .connect-me{
    }
}
/*===============footer-section===============*/
/*==============media-section===============*/


} 