.navigation{
    justify-content: space-between;
    padding: 10px 0;
    .logo{  

        img{
            width:180px;
            height: 70px;
            object-fit: contain;
        }

    }
    .mynav{
        justify-content: flex-end;

        li{

            a{
               color: $headColor; 
                font-size: 0.85rem;
                text-transform: uppercase;
            } 
        }


    }
    
    .nav-btn{
        width: 65px;
        height: 65px;
        position: relative;
        transition: all 0.4s linear;
        display: flex;
        border-radius: 5px;
        @extend %flexCenter;
        cursor: pointer;
        display: none; 

    } 

    .nav-btn::before{
        content: " ";
        position: absolute;
        width: 85%;
        height: 7%;
        border-radius: 3px;
        background-color: $primeColor;
        box-shadow: 0 15px 0 0 $primeColor;
        transform: translateY(-15px);
        transition: all 0.4s linear;

    }
    .nav-btn::after{
        content: " ";
        position: absolute;
        width: 85%;
        height: 7%;
        background-color: $primeColor;
        transform: translateY(15px);
        border-radius: 3px;
        transition: all 0.4s;

    }
    .nav-btn.active:before{
        box-shadow: none;
        transform: translateY(0) rotate(45deg) ;
    }   
    .nav-btn.active:after{
        transform: translateY(0) rotate(-45deg) ;
    }   
}  
.nav-bg{
    background-color: transparent;
    position: relative;
    top: 0;
    width: 100%;
}
.nav-panel{
    background-color: $mainbgColor;
    box-shadow: $shadow;
    position: fixed;
    top: 0;
    z-index: 10;
    transition: all 0.5s ease;
    animation: navAni 0.8s linear;
}
@keyframes navAni {
    0%{
        opacity: 0.5;
    }
    25%{
        opacity: 0.6;
    }
    50%{
        opacity: 0.75;
    }
    100%{
        opacity: 1;
    }    


}
.respon-nav{
    display: none;
}
@media  only screen and (max-width:1199px) {
    @mixin center{
        justify-content: center;
        align-items: center;
        display: flex;
    }
    .navigation{
        .mynav{
            display: flex;
        }
        .nav-btn{
            display: flex; 
            
        }
        .course-cer{
            display: none;
            
        }

    }

    .respon-nav{
        display: flex;
        position: relative;
        z-index: 10;
        .nav-small{
            background-color: transparent;
            width: 230px;   
            padding: 10px;
            position: fixed;
            right: -230px;
            top: 80px;
        }
        .nav-show{
            right: 0;
            transition: all 0.8s ease;
        }
        ul{
            @include box;
            padding: 20px;
            li{ 
                padding-bottom: 15px;
                text-transform: uppercase;
                a{
                    color: $headColor; 
                }

               
            }
            li:hover a{
                color: $primeColor;
            }
        }
        .icon-list{
            border-radius: 5px 0 0 5px;
            li{
                @include center(); 
            }

        }
        .item-list{
            border-radius: 0 5px 5px 0;
        }


    }



}