.my-project{
    @include section;

    .project-head{
        padding: 20px 0;
        h3{
            color: $headColor;
        }
    }


    .my-demo{
       @include box;
        border-radius: 15px;
        padding: 30px;
        margin-bottom: 50px;
        img{
            width: 100%;
            height: 250px;
            object-fit: cover;
            overflow-y: scroll;
            object-position: top;
        }

        h3{
            color: $headColor;
            padding-top: 25px;
        }
        p{
            @include line; 
        }

    }


}