/*==============myFont============*/
/*=============Color-variable===========*/
/*=============Font-variable===========*/
.my-btn {
  padding: 25px 30px;
  font-size: 0.75rem;
  background-color: #1E2024;
  box-shadow: 10px 10px 19px #1c1e22, -10px -10px 19px #262a2e;
  text-transform: uppercase;
  cursor: pointer;
}

.navigation .nav-btn, .social-icon li .icon, .social-icon li .name-icon, .social-icon li {
  justify-content: center;
  align-items: center;
}

/*
a{
    text-decoration: none;
}
ul{
    list-style-type: none;
}
.main-head{
    font-size: 2.5rem;
    font-weight: 700;
    font-family: $secondaryFont;
    padding-bottom: 10px;
    color: $textColor;

}
.secondary-head{
    font-size: 1.5rem;
    font-weight: 500;
    font-family: $secondaryFont;
    padding-bottom: 10px;
    color: $textColor;
    line-height: 1.5;
}
.small-head{
    font-size: 1.2rem;
    font-weight: 500;
    font-family: $secondaryFont;
    padding-bottom: 10px;
    color: $textColor;
    line-height: 1.5;

}
.flex-content{
    display: flex;
    flex-wrap: wrap;
}

.para{
    font-size: 0.75rem;
    font-weight: 400;
    color: $secondheadColor; 
    padding-bottom: 10px;
    line-height: 1.5;
}
.title{
    font-size: 0.75rem;
    color: $primeColor;
    font-weight: 300;
    text-transform: uppercase;
    padding-bottom: 10px; 
    letter-spacing: 1px;
}
.dif-title{
    font-size: 0.75rem;
    color: $secondheadColor;
    font-weight: 400;
    text-transform: uppercase; 
    padding-bottom: 10px;


}
.max-width{
    max-width: 1366px;
    position: relative;
}
.max-width::before{
    content: "";
    margin-top: 30px;
    position: absolute;
    left: 0;    
    bottom: -60px;
    width: 100%;
    height: 5px;
    background-color: $bgColor;
}

.design-border{
    border-bottom: 3px solid $bgColor;
}
.slick-dots{
    display: flex;
    flex-wrap: wrap;
    @extend %flexCenter;

    li{
        height: 12px;
        width: 12px;
        display: flex;
        flex-wrap: wrap;
        @extend %flexCenter;
        border-radius: 50%;
        margin-right: 20px; 
        button{ 
            z-index: 0;
            box-shadow: $inner-shadow;
            width: 100%;    
            background-color: $mainbgColor;
            height: 100%;
            font-size: 0; 
            border: none;  
            border-radius: 50%;
            outline: none;
            cursor: pointer;
        }


    }

    .slick-active{
        background-color: $primeColor;  
    }
} 
.fixed-btn{
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: $bgColor;
    box-shadow: $shadow;
    width: 75px;
    height: 75px;
    display: flex;
    @extend %flexCenter;
    border-radius: 5px;
    z-index: 100;
    transition: all 0.4s linear;
    a{
        color: $headColor
    }

}
.fixed-btn:hover{
    box-shadow: $shadow-2;

}
*/
/*=============fonts-==============*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html, body {
  font-size: 24px;
  width: 100%;
  height: 100%;
  line-height: 1.5;
  font-family: "Poppins", sans-serif;
  background-color: #212428;
  position: relative;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.main-head {
  font-size: 2.5rem;
  font-weight: 700;
  padding: 10px 0;
}

.secondary-head {
  font-size: 1.5rem;
  font-weight: 500;
  padding-top: 10px;
}

.small-head {
  font-size: 1rem;
  font-weight: 500;
  padding-top: 10px;
}

.flex-content {
  display: flex;
  flex-wrap: wrap;
}

.max-width {
  max-width: 1366px;
  margin: 0 auto;
}

.para {
  font-size: 0.85rem;
  color: #878e99;
  font-weight: 400;
  padding: 10px 0;
}

.title {
  font-size: 0.85rem;
  font-weight: 400;
  text-transform: uppercase;
  padding-bottom: 15px;
  color: #878e99;
}

.prime-title {
  color: #F8024E;
}

.my-btn {
  color: #F8024E;
}

.see-btn {
  padding: 12px 20px;
}

.flex-box {
  display: flex;
  flex-wrap: wrap;
}

.social-icon {
  position: fixed;
  top: 50%;
  right: 0;
  z-index: 10;
}
.social-icon li {
  margin: 10px 0;
  transform: translateX(100px);
  padding-bottom: 15px;
  transition: all 0.5s ease;
}
.social-icon li .name-icon {
  color: #F8024E;
  font-size: 0.85rem;
  height: 70px;
  width: 100px;
  background-color: #1E2024;
}
.social-icon li .icon {
  width: 70px;
  height: 70px;
  font-size: 1.2rem;
  background-color: #212428;
  box-shadow: 10px 10px 19px #1c1e22, -10px -10px 19px #262a2e;
  color: #fff;
}
.social-icon li .icon a {
  text-decoration: none;
}
.social-icon li:hover {
  transform: translateX(0);
}
.social-icon li:hover .icon {
  color: #878e99;
}
.social-icon li:hover a {
  text-decoration: none;
}

/*===============nav-section===============*/
.header-section {
  padding-bottom: 50px;
  padding-top: 0;
}
.header-section .myintro {
  padding: 30px 0;
}
.header-section .myintro h1 {
  color: #fff;
  padding-top: 25px;
}
.header-section .myintro h1 .name {
  color: #F8024E;
}
.header-section .resume {
  padding: 50px;
  background-color: #1E2024;
  box-shadow: 10px 10px 19px #1c1e22, -10px -10px 19px #262a2e;
  border-radius: 15px;
}
.header-section .image {
  position: relative;
  z-index: 0;
  margin: 0 30px;
}
.header-section .image img {
  width: 100%;
  height: 700px;
  -o-object-fit: contain;
     object-fit: contain;
}
.header-section .image::before {
  content: "";
  position: absolute;
  bottom: 0;
  background-color: #212428;
  box-shadow: 10px 10px 19px #1c1e22, -10px -10px 19px #262a2e;
  width: 100%;
  height: 500px;
  z-index: -1;
}

/*===============nav-section===============*/
.navigation {
  justify-content: space-between;
  padding: 10px 0;
}
.navigation .logo img {
  width: 180px;
  height: 70px;
  -o-object-fit: contain;
     object-fit: contain;
}
.navigation .mynav {
  justify-content: flex-end;
}
.navigation .mynav li a {
  color: #fff;
  font-size: 0.85rem;
  text-transform: uppercase;
}
.navigation .nav-btn {
  width: 65px;
  height: 65px;
  position: relative;
  transition: all 0.4s linear;
  display: flex;
  border-radius: 5px;
  cursor: pointer;
  display: none;
}
.navigation .nav-btn::before {
  content: " ";
  position: absolute;
  width: 85%;
  height: 7%;
  border-radius: 3px;
  background-color: #F8024E;
  box-shadow: 0 15px 0 0 #F8024E;
  transform: translateY(-15px);
  transition: all 0.4s linear;
}
.navigation .nav-btn::after {
  content: " ";
  position: absolute;
  width: 85%;
  height: 7%;
  background-color: #F8024E;
  transform: translateY(15px);
  border-radius: 3px;
  transition: all 0.4s linear;
}
.navigation .nav-btn:active:before {
  box-shadow: none;
  transform: translateY(0) rotate(45deg);
}
.navigation .nav-btn:active:after {
  transform: translateY(0) rotate(-45deg);
}

.nav-bg {
  background-color: transparent;
  position: relative;
  top: 0;
  width: 100%;
}

.nav-panel {
  background-color: #212428;
  box-shadow: 10px 10px 19px #1c1e22, -10px -10px 19px #262a2e;
  position: fixed;
  top: 0;
  z-index: 10;
  transition: all 0.5s ease;
  -webkit-animation: navAni 0.8s linear;
          animation: navAni 0.8s linear;
}

@-webkit-keyframes navAni {
  0% {
    opacity: 0.5;
  }
  25% {
    opacity: 0.6;
  }
  50% {
    opacity: 0.75;
  }
  100% {
    opacity: 1;
  }
}

@keyframes navAni {
  0% {
    opacity: 0.5;
  }
  25% {
    opacity: 0.6;
  }
  50% {
    opacity: 0.75;
  }
  100% {
    opacity: 1;
  }
}
@media only screen and (max-width: 1200px) {
  .navigation .mynav {
    display: none;
  }
  .navigation .nav-btn {
    display: flex;
  }
  .navigation .course-cer {
    display: none;
  }
}
/*====--------myskill-section-----------=======*/
.myskill {
  padding-bottom: 50px;
}
.myskill .skill-head {
  padding: 20px 0;
}
.myskill .skill-head h3 {
  color: #fff;
}
.myskill .skill {
  padding: 30px;
  background-color: #212428;
  box-shadow: 10px 10px 19px #1c1e22, -10px -10px 19px #262a2e;
  border-radius: 18px;
  margin-bottom: 50px;
}
.myskill .skill svg {
  width: 85px;
  height: 85px;
  fill: #F8024E;
  stroke: #F8024E;
}
.myskill .skill h3 {
  color: #fff;
  text-transform: capitalize;
  padding-top: 25px;
}
.myskill .skill p {
  overflow: hidden;
  -webkit-line-clamp: 3;
  display: -webkit-box;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
}

/*========--------projects-section-----------===*/
.my-project {
  padding-bottom: 50px;
}
.my-project .project-head {
  padding: 20px 0;
}
.my-project .project-head h3 {
  color: #fff;
}
.my-project .my-demo {
  background-color: #212428;
  box-shadow: 10px 10px 19px #1c1e22, -10px -10px 19px #262a2e;
  border-radius: 15px;
  padding: 30px;
  margin-bottom: 50px;
}
.my-project .my-demo .layout {
  width: 100%;
  height: 250px;
  overflow-y: scroll;
}
.my-project .my-demo .layout img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
}
.my-project .my-demo h3 {
  color: #fff;
  padding-top: 25px;
}
.my-project .my-demo p {
  overflow: hidden;
  -webkit-line-clamp: 2;
  display: -webkit-box;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
}

/*===============about-section===============*/
.about-me {
  padding-bottom: 50px;
}
.about-me .about-nav {
  padding: 20px 0;
  align-items: center;
  text-align: center;
  background-color: #212428;
  box-shadow: 10px 10px 19px #1c1e22, -10px -10px 19px #262a2e;
  border-radius: 15px;
  border: none;
  text-transform: uppercase;
}
.about-me .about-nav li {
  width: 33%;
}
.about-me .about-nav li a {
  font-size: 0.85rem;
  color: #878e99;
  border-radius: 8px;
}
.about-me .about-nav li a.active {
  background-color: #212428;
  box-shadow: 10px 10px 19px #1c1e22, -10px -10px 19px #262a2e;
  padding: 20px;
  margin: 0 20px;
  border: none;
  border-radius: 8px;
}

/*===============contact-section===============*/
.contact {
  padding-bottom: 50px;
}
.contact .location {
  padding: 20px;
  background-color: #212428;
  box-shadow: 10px 10px 19px #1c1e22, -10px -10px 19px #262a2e;
  border-radius: 15px;
}
.contact .location iframe {
  width: 100%;
  height: 350px;
}
.contact .connect-me {
  padding: 30px;
  background-color: #212428;
  box-shadow: 10px 10px 19px #1c1e22, -10px -10px 19px #262a2e;
  border-radius: 15px;
}
.contact .connect-me h3 {
  color: #fff;
}
.contact .connect-me .phone, .contact .connect-me .email {
  padding: 15px 0;
}
.contact .connect-me .phone span, .contact .connect-me .email span {
  text-transform: uppercase;
  color: #fff;
  font-size: 0.85rem;
}
.contact .connect-me .phone .my-email, .contact .connect-me .email .my-email {
  text-transform: lowercase;
}

/*===============footer-section===============*/
.footer {
  padding-bottom: 50px;
  text-align: center;
}
.footer p {
  font-size: 1.2rem;
}
.footer p abbr {
  color: #F8024E;
  text-decoration: none;
}/*# sourceMappingURL=style.css.map */